#buttons-dontclick-overlay {
	position: absolute;
	left:0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
}

#buttons-dontclick-overlay div {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 20px;
	color: #ccc;
	border: 1px solid #ccc;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	text-align: center;
}

#buttons-dontclick-overlay div:active {
	background-color: #ccc;
	color: #111;
	border: 1px solid #111;
}

.btnx {
	cursor: pointer;
}

.btn-25 {
	color: black;
	font-size: 25px;
	text-align: center;
	border: 1px solid black;
	box-shadow: 1px 1px black;
	margin-top: 45px;
}

.btn-40 {
	color: #111;
	font-size: 40px;
	text-align: center;
}

.btn-40 span {
	border: 1px solid #111;
	box-shadow: 1px 1px black;
	padding: 5px;
}

.btn-50:hover, .btn-25:hover, .btn-50 i:hover, .btn25 i:hover {
	background-color: #333;
	box-shadow: none;
	text-shadow: none;
}

.btn-50:active, .btn-25:active, .btn-50 i:active, .btn25 i:active {
	background-color: #990000;
}

#btn-set span:hover {
	background-color: #333;
	box-shadow: none;
	text-shadow: none;
}

#btn-set span:active {
	background-color: #990000;
}

.btn-100:hover {
	color: #222;
	text-shadow: none;
}

.btn-100:active {
	color: #990000;
}

.btn-50 {
	color: #111;
	font-size: 50px;
	text-align: center;
	border: 1px solid black;
	margin-top: 43px;
  margin-left: -55px;
	box-shadow: 1px 1px black;
}

.btn-100 {
	color: #111;
	font-size: 100px;
	text-align: center;
	text-shadow: 1px 1px black
}

#btn-set {
	padding:0;
}

#btn-arrowright {
	margin-left: 30px;
}

#btn-arrowleft {
	margin-right: 30px;
}

#btn-arrowup {
	margin-bottom: -6px;
}

#btn-arrowdown {
	margin-top: -15px;
}

#btn-help {
	width: 92px;
	margin-left: 78px;
	height: 70px;
	padding-top: 10px;
}

#btn-enabledisable {
	width: 170px;
	height: 70px;
	line-height: 30px;
	padding-top: 5px;
}

#btn-home {
	height: 70px;
	padding-top: 10px;
	width: 92px;
}

#btn-undo {
	height: 70px;
	padding-top: 10px;
	width: 92px;
	margin-top: 44px;
}

#keypad {
	margin-left: 60px;
	margin-top: 40px;
	border: 2px solid black;
	text-align: center;
	max-width: 165px;
}

#keypad td {
	font-size: 48px;
	cursor: pointer;
	line-height: 1;
	width: 55px;
	height: 53px;
	text-align: center;
	margin:0;
	padding: 2px;
}

#keypad td>span {
	color: #222;
	display: block;
	height: 100%;
	width: 100%;
	box-shadow: 1px 1px black;
	border: 1px solid black;
}

#keypad td>span:hover {
	background-color: #333;
	box-shadow: none;
}

#keypad td>span:active {
	background-color: #990000;
}
